.mainButtons1
{
    background: rgb(36, 139, 36);
    width:70px;
    height: 30px;
    color: white;
    margin 1px;
}
#addComment1
{
    background: rgb(201, 196, 196);
}
.fill1
{
    background: rgb(201, 196, 196);
    width: 700px;
}